<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>OAuth</title>
    <script>
        function fetchData(url) {
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    document.getElementById("jsonOutput").value = JSON.stringify(data, null, 2);
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
</head>
<body>
<h2>Reddit OAuth Integration</h2>

<!-- Login Button -->
<a th:href="@{/oauth/reddit/login}">
    <button >Login with Reddit</button>
</a>

<br><br>

<!-- Fetch Data Button -->
<button onclick="fetchData('/oauth/reddit/fetchSavedPosts')">Get Saved Posts</button>
<button onclick="fetchData('/oauth/reddit/upVotedPosts')">Get UpVoted Posts</button>
<button onclick="fetchData('/oauth/reddit/downVotedPosts')">Get DownVoted Posts</button>

<br><br>

<h2>Spotify OAuth Integration</h2>
<a th:href="@{/oauth/spotify/login}">
    <button >Login with Spotify</button>
</a>

<br><br>

<!-- Fetch Data Button -->
<button onclick="fetchData('/oauth/spotify/getTopArt')">Top Artists</button>
<button onclick="fetchData('/oauth/spotify/getUserPlaylists')">Fetch playlists</button>
<!--<button onclick="fetchdownVotedPosts()">Dummy</button>-->

<br><br>

<!-- JSON Output -->
<textarea id="jsonOutput" rows="15" cols="80" readonly></textarea>
</body>
</html>
